.about-rotana-star{
  width: 80%;
  margin-left: auto;
  height: 90vh;
  position: relative;
}

.mobile-image{
  display: none;
}
.about-rotana-text{
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
width: 65%;
  height: 90%;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  border-bottom-left-radius: 8px;
  background-color: white;
  z-index: 5;
border: 1px solid gainsboro;
box-shadow: 2px 2px 40px 5px  rgb(196, 196, 196);
}
.about-rotana-text p{
  width:80% ;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.about-rotana-text h2{
  margin-top: 15px;
  font-weight: 500;
}
.about-rotana-background{
  height: 100%;
  width: 80%;
  background: url('https://mclaren.scene7.com/is/image/mclaren/DSC00052_6:crop-1x1?wid=1200&hei=1200');
  background-repeat: no-repeat;
margin-left: auto;
background-position: center;
background-size: cover;
clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);

}


.about-rotana-location{
  width: 80%;
  margin-left: auto;
  height: 130vh;
  position: relative;
}
.about-rotana-location-text{
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
min-height: 90%;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  border-bottom-left-radius: 8px;
  background-color: white;
  z-index: 5;
border: 1px solid gainsboro;
box-shadow: 2px 2px 40px 5px  rgb(196, 196, 196);
}
.about-rotana-location-text p{
  width:80% ;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.3;

}
.about-rotana-location-text h2{
  margin-top: 15px;
  font-weight: 500;
}
.about-rotana-location-background{
  height: 100%;
  width: 80%;
  background: url('https://images.pistonheads.com/nimg/44851/2023-Chevrolet-Corvette-Z06-002.jpg');
  background-repeat: no-repeat;
margin-left: auto;
background-position: center;
background-size: cover;
clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
}

.about-dubai{
  width: 100%;
  height: 110vh;
  position: relative;
}
.about-dubai-text{
  position: absolute;
  right:17%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  border-bottom-left-radius: 8px;
  background-color: white;
  z-index: 5;
border: 1px solid gainsboro;
box-shadow: 2px 2px 40px 5px  rgb(196, 196, 196);
}
.about-dubai-text p{
  width:99% ;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.about-dubai-background{
  height: 60%;
  width: 100%;
  background: url('https://images.musement.com/cover/0002/45/dubai-skyline-at-dusk-jpg_header-144981.jpeg?lossless=false&auto=format&fit=crop');
  background-repeat: no-repeat;
margin-left: auto;
background-position: center;
background-size: cover;
clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}
.about-dubai-icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
margin-top: 20px;
}
.about-dubai-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-dubai-icon svg{
  color: var(--e-global-color-primary);
  font-size: 30px;

}
.about-dubai-icon p{
font-weight: 500;
  text-align: center;
}

/* queries */

@media (max-width:1350px) {
  .about-dubai-text{
    width: 50%;
  }
  .about-rotana-location{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .about-rotana-location-text{
    width: 80%;
  }
  .about-dubai-text{
    right: 12%;
  }
}



@media (max-width:1010px) {
  .about-rotana-star{
    width: 98%;
    height: fit-content;
  }
  
  .about-dubai-background{
    display: none;
  }
  .about-rotana-background{
    display: none;
  }
  .about-rotana-location-background{
    display: none;
  }
.about-rotana-text{
  display: none;
}
.about-rotana-location{
  display: none;
}
.about-dubai{
  display: none;
}
.show-when-small{
  min-height: fit-content;
  display: flex !important;
flex-direction: column;
gap: 50px;
}
.show-when-small h1{
  text-align: center;
}
.show-when-small h2{
  color: black;
}
}













/* @media (max-width:1010px) {
  .about-dubai-background{
    display: none;
  }
  .about-rotana-background{
    display: none;
  }
  .about-rotana-location-background{
    display: none;
  }
  .mobile-image{
    display: block;
   
    
  }
 
  .about-rotana-star{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    min-height: 100vh;
  }
  .about-rotana-text{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  min-height: 100vh;
  }
  .about-rotana-text p{
    width:94% ;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.3;
  }

  .about-rotana-location{
    width: 99%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .about-rotana-location-text{
    position: absolute;
  left: 0%;
  top: 30%;
  width: 100%;
min-height: 100vh;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
display: flex;
  flex-direction: column;
  padding: 20px 35px;
  border-bottom-left-radius: 8px;
  background-color: white;
  z-index: 5;
border: 1px solid gainsboro;
box-shadow: 5px 5px 100px 150px  grey;
  }
  .about-rotana-location-text p{
    width:94% ;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.3;
  }

.about-dubai{
  width: 100%;
}
  .about-dubai-text{
    position: absolute;
    right:1px;
    top: 1px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    border-bottom-left-radius: 8px;
    background-color: white;
    z-index: 5;
  border: 1px solid gainsboro;
  box-shadow: 2px 2px 40px 5px  rgb(196, 196, 196);
  }
  .about-dubai-text p{
    width:99% ;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.3;
  }
} */